
.product-card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #b70e1e;
  padding: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  box-shadow: 0 1px 3px rgb(36 39 44);
  /* transition: transform 0.2s ease-in-out; */
  margin: 30px;
  margin-left: 15px !important;
}
.brand-name{
  font-size: 20px;
  color: #b70e1e;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0px;
}


/* .product-card:hover {
  transform: translateY(-5px);
} */

.product-image {
  flex: 1;
  width: 450px;
  height: 300px;
  margin-right: 16px;
  overflow: hidden;
  border-radius: 8px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.product-thumbnails {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  gap: 5px;
}

.thumbnail {
  width: 80px;
  height: 60px;
  margin-bottom: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail:hover {
  transform: scale(6) translateY(-50%);
}

.product-details {
  flex: 2;
}

.product-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-company {
  color: #ccc;
  margin-bottom: 8px;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #57a773;
}

/* Style for year */
.product-year {
  margin-bottom: 16px;
}

.product-buttons {
  display: flex;
  margin-top: 16px;
}

.checkout-button {
  background-color: #b70e1e;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #910909;
  color: #fff;
  border: 1px solid #fff;
}

.compare-button {
  background-color: #ff6c02;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.compare-button:hover {
  background-color: #e15900;
}

