/* body{
    background-image: url("https://img.freepik.com/free-vector/-technological-background_23-2148884155.jpg?w=740&t=st=1696073722~exp=1696074322~hmac=8d44768e1411edfa1d9b5eab2267b26d8a046eb76c5055b1f6756b7ad7bbf78b");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: fixed;
}  */
.register-btn{
    background-color: #b70e1e;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #fff;
    width: auto;
    border-radius: 4px;

}
.form-container {
  margin:10% auto;
  display: block;
width: fit-content;
border: 1px solid #ddd;
border-radius: 4px;
padding:25px 50px;
  text-align:center;
  box-shadow:0 2px 14px rgb(173, 22, 22);
  background-color: #fff;
}
.heading-color{
  color: #b70e1e;

}

.text-field{
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  margin: 10px;
  border: 1px solid #b70e1e;
}